langfuse==2.60.2
polars==1.26.0
dspy==2.6.16
ipywidgets==8.1.5
litellm==1.62.4
#-e /Users/mwiewior/research/git/mlflow
git+https://github.com/mwiewior/mlflow.git@dspy-bug
opentelemetry-exporter-otlp-proto-http==1.31.1